body {
    background-color: darkcyan;
    margin: auto;
}

.div-2 {
    width: 400px;
    height: 200px;
    background-color: #bee3d2;
    border: solid 40px #739fd0;
    margin: 70px auto;
    padding: 60px;
}

.div-1 {
    background-color: white;
    height: 100px;
    width: 300px;
    margin: 50px auto;
    text-align: center;
    font-size: xxx-large;
    margin-top: 30px;
}