table {
  margin: auto;
}

td {
  border: solid 2px black;
  height: 50px;
  width: 50px;
}

.style1 {
  background-color: aquamarine;
}

.style2 {
  background-color: burlywood;
}/*# sourceMappingURL=style.css.map */